<div id="footer" class="blue">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="pull-left">
                    <li><a href="index.html">Home</a>/</li>
                    <li><a href="faq.html"  class="active">FAQ</a>/</li>
                    <li><a  href="contact.html">Contact</a>/</li>
                    <li><a href="affiliate.html">Affiliate</a>/</li>
                    <li><a href="pricing.html">Pricing</a></li>
                </ul>
                <p class="copyright pull-right">Copyright © 2015 <strong>Daily Smarty.</strong> All rights reserved. </p>
            </div>
        </div>
    </div>
</div>