<div class="col-xs-3 sidebar pull-right">
    <ul>
        <li><a href="#">All</a></li>
        <li class="active"><a href="#">Business</a></li>
        <li><a href="#">Gaming</a></li>
        <li><a href="#">Leisure</a></li>
        <li><a href="#">Lifestyle</a></li>
        <li><a href="#">Offbeat</a></li>
        <li><a href="#">Politics</a></li>
        <li><a href="#">Science</a></li>
        <li><a href="#">Business</a></li>
        <li><a href="#">Gaming</a></li>
        <li><a href="#">Leisure</a></li>
        <li><a href="#">Lifestyle</a></li>
        <li><a href="#">Offbeat</a></li>
        <li><a href="#">Politics</a></li>
        <li><a href="#">Science</a></li>
        <li><a href="#">Business</a></li>
        <li><a href="#">Gaming</a></li>
        <li><a href="#">Leisure</a></li>
        <li><a href="#">Lifestyle</a></li>
        <li><a href="#">Offbeat</a></li>
        <li><a href="#">Politics</a></li>
        <li><a href="#">Science</a></li>
        <li><a href="#">Business</a></li>
        <li><a href="#">Gaming</a></li>
        <li><a href="#">Leisure</a></li>
        <li><a href="#">Lifestyle</a></li>
        <li><a href="#">Offbeat</a></li>
        <li><a href="#">Politics</a></li>
    </ul>
</div>