<div class="col-xs-9 article-grid pull-left">
    <a href="#accept-article" class="btn btn-default btn-charcoal pull-left"><span>Submit Article</span></a>
    <ul class="filter pull-right">
        <li>Top Now</li>
        <li>Most Recent</li>
        <li class="active">Today</li>
        <li>This Week</li>
        <li>All Time</li>
    </ul>

    <a href="#show-categories" class="btn btn-default btn-blue pull-right show-categories"><span>Categories</span></a>
    <select data-class="filter-select pull-right blue filter-sort" name="type" class="filter-sort pull-right">
        <option value="english">Top Now</option>
        <option value="french" selected="selected">Most Recent</option>
        <option value="french">Today</option>
        <option value="french">This Week</option>
        <option value="french">All Time</option>
    </select>
    <div class="clearfix"></div>

    <div class="horizontal clearfix">
        <div class="col-xs-5 text">
            <h1>Business</h1>
            <h2>New Stuff Coming This Fall</h2>

            <p>Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum <strong>dolore eu fugiat
            nulla</strong> pariatur sunt in culpa qui officia 
            deserunt mollit anim id est laborum. 
            Duis aute irure dolor in reprehenderit...</p>

            <a href="article.html" class="btn btn-default btn-dotted pull-left"><span>Read More</span></a>
        </div>
        <div class="col-xs-7 image">
            <img src="/assets/image1.png" />
            <ul class="stats">
                <li>
                    <span class="icon icon-view"></span>
                    <p>369</p>
                </li>
                <li>
                    <span class="icon icon-comment"></span>
                    <p>36</p>
                </li>
                <li>
                    <span class="icon icon-relations"></span>
                    <p>52</p>
                </li>
            </ul>
            <div class="featured"></div>
        </div>
    </div>

    <div class="vertical">
        <div class="image">
            <img src="/assets/image2.png" />
            <ul class="stats">
                <li>
                    <span class="icon icon-view"></span>
                    <p>369</p>
                </li>
                <li>
                    <span class="icon icon-comment"></span>
                    <p>36</p>
                </li>
                <li>
                    <span class="icon icon-relations"></span>
                    <p>52</p>
                </li>
            </ul>
            <div class="featured"></div>
        </div>
        <div class="text">
            <h2>New Stuff Coming This Fall</h2>
            <p>Duis aute irure dolor in reprehenderit in 
                voluptate velit esse cillum <strong>dolore eu fugiat</strong>
            nulla pariatur sunt in culpa qui officia 
            deserunt mollit anim id est laborum. 
            Duis aute irure dolor in reprehenderit...</p>
            <a href="article.html" class="btn btn-default btn-dotted pull-left"><span>Read More</span></a>
        </div>
    </div>

    <div class="vertical padding featured">
        <div class="image">
            <img src="/assets/image3.png" />
            <ul class="stats">
                <li>
                    <span class="icon icon-view"></span>
                    <p>369</p>
                </li>
                <li>
                    <span class="icon icon-comment"></span>
                    <p>36</p>
                </li>
                <li>
                    <span class="icon icon-relations"></span>
                    <p>52</p>
                </li>
            </ul>
            <div class="featured"></div>
        </div>
        <div class="text">
            <h2>New Stuff Coming This Fall</h2>
            <p>Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat
            nulla pariatur sunt in culpa <strong>qui officia 
            deserunt</strong> mollit anim id est laborum. 
            Duis aute irure dolor in reprehenderit...</p>
            <a href="article.html" class="btn btn-default btn-dotted pull-left"><span>Read More</span></a>
        </div>
    </div>

    <div class="horizontal clearfix">
        <div class="col-xs-5 text">
            <h2 style="margin-top:0px;">New Stuff Coming This Fall</h2>

            <p>Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum <strong>dolore eu fugiat
            nulla</strong> pariatur sunt in culpa qui officia 
            deserunt mollit anim id est laborum. 
            Duis aute irure dolor in reprehenderit...</p>

            <a href="article.html" class="btn btn-default btn-dotted pull-left"><span>Read More</span></a>
        </div>
        <div class="col-xs-7 image">
            <img src="/assets/image4.png" />
            <ul class="stats">
                <li>
                    <span class="icon icon-view"></span>
                    <p>369</p>
                </li>
                <li>
                    <span class="icon icon-comment"></span>
                    <p>36</p>
                </li>
                <li>
                    <span class="icon icon-relations"></span>
                    <p>52</p>
                </li>
            </ul>
            <div class="featured"></div>
        </div>
    </div>

    <div class="vertical">
        <div class="image">
            <img src="/assets/image3.png" />
            <ul class="stats">
                <li>
                    <span class="icon icon-view"></span>
                    <p>369</p>
                </li>
                <li>
                    <span class="icon icon-comment"></span>
                    <p>36</p>
                </li>
                <li>
                    <span class="icon icon-relations"></span>
                    <p>52</p>
                </li>
            </ul>
            <div class="featured"></div>
        </div>
        <div class="text">
            <h2>New Stuff Coming This Fall</h2>
            <p>Duis aute irure dolor in reprehenderit in 
                voluptate velit esse cillum <strong>dolore eu fugiat</strong>
            nulla pariatur sunt in culpa qui officia 
            deserunt mollit anim id est laborum. 
            Duis aute irure dolor in reprehenderit...</p>
            <a href="article.html" class="btn btn-default btn-dotted pull-left"><span>Read More</span></a>
        </div>
    </div>

    <div class="vertical padding featured">
        <div class="image">
            <img src="/assets/image2.png" />
            <ul class="stats">
                <li>
                    <span class="icon icon-view"></span>
                    <p>369</p>
                </li>
                <li>
                    <span class="icon icon-comment"></span>
                    <p>36</p>
                </li>
                <li>
                    <span class="icon icon-relations"></span>
                    <p>52</p>
                </li>
            </ul>
            <div class="featured"></div>
        </div>
        <div class="text">
            <h2>New Stuff Coming This Fall</h2>
            <p>Duis aute irure dolor in reprehenderit in 
            voluptate velit esse cillum dolore eu fugiat
            nulla pariatur sunt in culpa <strong>qui officia 
            deserunt</strong> mollit anim id est laborum. 
            Duis aute irure dolor in reprehenderit...</p>
            <a href="article.html" class="btn btn-default btn-dotted pull-left"><span>Read More</span></a>
        </div>
    </div>
</div>







